@font-face {
    font-family: 'mightam';
    src: url('../fonts/MightamBrush.woff2') format('woff2'),
        url('../fonts/mightam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mightam Brush';
    src: url('../fonts/MightamBrush.woff2') format('woff2'),
        url('../fonts/MightamBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'mightam';
    src: url('../fonts/stylesheet.css') format('woff2'),
        url('mightam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Mightam Brush';
    src: url('../fonts/stylesheet.css') format('woff2'),
        url('MightamBrush.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Careista';
    src: url('../fonts/Careista.woff2') format('woff2'),
        url('Careista.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

